<div data-role="view" data-title="Daily Mindfulness" data-layout="main" data-model="APP.models.home">
  <h1 data-bind="html: title">About</h1>

    <p>
        The Kendo UI mobile framework is designed to help developers build mobile app experiences using HTML and JavaScript that automatically adapt to the native look-and-feel of different mobile platforms. Developers using Kendo UI Mobile can focus on their app's function and content and let the Kendo UI framework handle differences between platforms like iOS and Android.
    </p>

</div>