<div data-role="view" data-title="Daily Mindfulness" data-layout="main" data-model="APP.models.home">
  <h1 data-bind="html: title"></h1>
    
    <h3>Fill out the form below at least three times daily.</h3>
    
    <div>
        Step
        <span>1</span>
        of
        <span>6</span>
    </div>
    
    <div>
        
        <div >
            <div>
                <label for="question">Question 1:</label>
                <input id="question1" data-bind="value:formData.question1">    
            </div>
        </div>
            
        <div>
            <span class="emptylabel"></span>
            <button type="button" data-bind="click: saveStep1">Continue</button>    
        </div>
    </div>
    
    <script>
      $(function() {
        $("button").kendoMobileButton();
      });
    </script>
    
</div>