.fieldlist
{
    margin:0;
    padding:0;
}

.fieldlist li
{
    list-style:none;
    padding:10px 0;
}

.fieldlist label {
    display: inline-block;
    width: 150px;
    margin-right: 5px;
    text-align: right;
}

.fieldlist .emptylabel {
    display: inline-block;
    width: 150px;
    margin-right: 5px;
}