body, html {
    margin: 0;
    height: 100%;
    width: 100%;
}

.box {
    padding-left: 15px;
    padding-top: 5px;
    padding-right: 15px;
    padding-bottom: 5px;
}

textarea {
    width: 90%;
}

.navigation {
    padding-top: 20px;
    padding-bottom: 10px;
}